/*Taylor Brown*/
.ui-page{
	background-image: url("images/background.jpg") !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color:#ffffff;
     }
#background{
	padding-left:1em;
	padding-right:1em;
}

#puzzle{	
	width:14em;
	height:14em;
	text-align: center;
	background: #2b2b2b;
	display: none;
}

#can{
	text-align: center;
}

input[type="image"]{
	width:3em;
	height:3em;
	display:inline-block;
}


#clock h2{
	display: inline;
	float: right;
}

#header h1,
#header h2{
	display: inline;
}

#pics{
	text-align: center;
}

button{
	background-color: #e3e7ed !important;
	text-shadow: none;
}